<div class="keypad dtmf">
    <div class="button_row">
        <div id="dtmf1" class="button">
            <div class="label"><span class="letters">&nbsp;</span><span class="digit">1</span></div>
        </div>
        <div id="dtmf2" class="button">
            <div class="label"><span class="letters">ABC</span><span class="digit">2</span></div>
        </div>
        <div id="dtmf3" class="button">
            <div class="label"><span class="letters">DEF</span><span class="digit">3</span></div>
        </div>
        <div id="dtmfA" class="button">
            <div class="label"><span class="letters">&nbsp;</span><span class="digit">A</span></div>
        </div>
    </div>
    <div class="button_row">
        <div id="dtmf4" class="button">
            <div class="label"><span class="letters">GHI</span><span class="digit">4</span></div>
        </div>
        <div id="dtmf5" class="button">
            <div class="label"><span class="letters">JKL</span><span class="digit">5</span></div>
        </div>
        <div id="dtmf6" class="button">
            <div class="label"><span class="letters">MNO</span><span class="digit">6</span></div>
        </div>
        <div id="dtmfB" class="button">
            <div class="label"><span class="letters">&nbsp;</span><span class="digit">B</span></div>
        </div>
    </div>
    <div class="button_row">
        <div id="dtmf7" class="button">
            <div class="label"><span class="letters">PRS</span><span class="digit">7</span></div>
        </div>
        <div id="dtmf8" class="button">
            <div class="label"><span class="letters">TUV</span><span class="digit">8</span></div>
        </div>
        <div id="dtmf9" class="button">
            <div class="label"><span class="letters">WXY</span><span class="digit">9</span></div>
        </div>
        <div id="dtmfC" class="button">
            <div class="label"><span class="letters">&nbsp;</span><span class="digit">C</span></div>
        </div>
    </div>
    <div class="button_row">
        <div id="dtmfStr" class="button">
            <div class="label"><span class="letters">&nbsp;</span><span class="digit">*</span></div>
        </div>
        <div id="dtmf0" class="button">
            <div class="label"><span class="letters">OPER</span><span class="digit">0</span></div>
        </div>
        <div id="dtmfPnd" class="button">
            <div class="label"><span class="letters">&nbsp;</span><span class="digit">#</span></div>
        </div>
        <div id="dtmfD" class="button">
            <div class="label"><span class="letters">&nbsp;</span><span class="digit">D</span></div>
        </div>
    </div>
</div>
