<div style="padding: 1em">
    <h1 style="font-family:C64" align="center">ToneDef<br/><span style="font-size:0.5em">Web Edition</span></h1>
    <hr/>
    <div style="color:#33B5E5" align="center">
        <small>Tap the Android-esque tabs above to navigate.</small>
    </div>
    <h2 style="color:#FF4444" align="center">WARNING</h2>
    <h3 align="justify"><i>This is a work in progress. Things are broken, unfinshed, and performance is poop on mobile.</i></h3>
    <hr/>
    <div align="center">Contact: <a href="https://twitter.com/fortyseven">@fortyseven</a> on Twitter.</div>
</div>