<div class="keypad redbox">
    <div class="button_row">
        <div id="bluebox2600" class="button">
            <div class="label"><span class="digit">2600Hz</span></div>
        </div>
    </div>
    <div class="button_row">
        <div id="bluebox1" class="button">
            <div class="label"><span class="letters">&nbsp;</span><span class="digit">1</span></div>
        </div>
        <div id="bluebox2" class="button">
            <div class="label"><span class="letters">ABC</span><span class="digit">2</span></div>
        </div>
        <div id="bluebox3" class="button">
            <div class="label"><span class="letters">DEF</span><span class="digit">3</span></div>
        </div>
    </div>
    <div class="button_row">
        <div id="bluebox4" class="button">
            <div class="label"><span class="letters">GHI</span><span class="digit">4</span></div>
        </div>
        <div id="bluebox5" class="button">
            <div class="label"><span class="letters">JKL</span><span class="digit">5</span></div>
        </div>
        <div id="bluebox6" class="button">
            <div class="label"><span class="letters">MNO</span><span class="digit">6</span></div>
        </div>
    </div>
    <div class="button_row">
        <div id="bluebox7" class="button">
            <div class="label"><span class="letters">PRS</span><span class="digit">7</span></div>
        </div>
        <div id="bluebox8" class="button">
            <div class="label"><span class="letters">TUV</span><span class="digit">8</span></div>
        </div>
        <div id="bluebox9" class="button">
            <div class="label"><span class="letters">WXY</span><span class="digit">9</span></div>
        </div>
    </div>
    <div class="button_row">
        <div id="blueboxStr" class="button">
            <div class="label"><span class="letters">KP</span><span class="digit">*</span></div>
        </div>
        <div id="bluebox0" class="button">
            <div class="label"><span class="letters">OPER</span><span class="digit">0</span></div>
        </div>
        <div id="blueboxPnd" class="button">
            <div class="label"><span class="letters">ST</span><span class="digit">#</span></div>
        </div>
    </div>
</div>
